[uwsgi]
chdir = {{ flask_dir }}
virtualenv = {{ virtualenv_path }}
module = app
callable = app
processes = 4
threads = 2
master
harakiri = 60
cpu-affinity = 1
buffer-size = 8192
socket = {{ uwsgi_sock }}